In [2]:
import pandas as pd
import psycopg2
from psycopg2 import sql

# Conectar ao banco de dados
conn = psycopg2.connect(
    dbname='defaultdb',
    user='avnadmin',
    password='AVNS_R_8PgcoiAljts5A2h1U',
    host='trabalhobd2-jhonpinhosantos-75df.e.aivencloud.com',
    port='23090',
    sslmode='require'
)
cur = conn.cursor()

# Função para executar consulta e retornar DataFrame
def executar_consulta(consulta):
    try:
        cur.execute(consulta)
        colnames = [desc[0] for desc in cur.description]
        data = cur.fetchall()
        df = pd.DataFrame(data, columns=colnames)
        print(f"Consulta: {consulta}\n")
        print(df)
        print("\n" + "="*40 + "\n")
    except Exception as e:
        print(f"Erro na consulta: {consulta}")
        print(f"Erro: {e}")
        conn.rollback()  # Rollback em caso de erro

# Consultas 9.1 - Tabelas com todos os dados inseridos
consultas_tabelas = [
    "SELECT * FROM ORDEM_SERVICO;",
    "SELECT * FROM PEDIDO;",
    "SELECT * FROM CATALOGO;",
    "SELECT * FROM ORCAMENTO;",
    "SELECT * FROM ORDEM_COMPRA;",
    "SELECT * FROM ITENS_PEDIDO;"
]

print("9.1 Consultas das tabelas com todos os dados inseridos:")
for consulta in consultas_tabelas:
    executar_consulta(consulta)

# Consultas 9.2 - Filtros WHERE
consultas_where = [
    "SELECT * FROM ORDEM_SERVICO WHERE id_equipamento > 1003;",
    "SELECT * FROM PEDIDO WHERE data_pedido BETWEEN '2023-01-01' AND '2023-06-30';",
    "SELECT * FROM CATALOGO WHERE tipo = 'Serviço';",
    "SELECT * FROM ORCAMENTO WHERE fornecedor LIKE 'Fornecedor A';"
]

print("9.2 Consultas das tabelas com filtros WHERE:")
for consulta in consultas_where:
    executar_consulta(consulta)

# Consultas 9.3 - Operadores lógicos, aritméticos e renomeação de campos

# a) Consultas com operadores lógicos (AND, OR, NOT)
consultas_logicas = [
    "SELECT * FROM ORDEM_SERVICO WHERE data_inicio < '2024-01-01' AND data_conclusao > '2023-12-01';",
    "SELECT * FROM PEDIDO WHERE data_recebimento >= '2023-01-01' OR data_recebimento <= '2023-06-30';",
    "SELECT * FROM CATALOGO WHERE tipo = 'Peça' AND descricao NOT LIKE 'Filtro%';",
    "SELECT * FROM ORCAMENTO WHERE fornecedor = 'Fornecedor B' OR fornecedor = 'Fornecedor C';",
    "SELECT * FROM ORDEM_COMPRA WHERE FK_ORCAMENTO_id_orcamento IS NOT NULL;"
]

# b) Consultas com operadores aritméticos
consultas_aritmeticas = [
    "SELECT FK_PEDIDO_id_pedido, valor, quantidade, valor * quantidade AS total FROM ITENS_PEDIDO;",
    "SELECT FK_PEDIDO_id_pedido, valor, garantia, valor / garantia AS valor_por_mes FROM ITENS_PEDIDO;",
    "SELECT FK_PEDIDO_id_pedido, quantidade, quantidade * 2 AS quantidade_dobrada FROM ITENS_PEDIDO;"
]

# c) Consultas com renomeação de campos ou tabelas
consultas_renomeacao = [
    "SELECT id_pedido AS pedido_id, data_pedido AS pedido_data FROM PEDIDO;",
    "SELECT descricao AS item_descricao, tipo AS item_tipo FROM CATALOGO;",
    "SELECT fornecedor AS fornecedor_nome FROM ORCAMENTO;"
]

print("9.3 Consultas com operadores lógicos, aritméticos e renomeação de campos:")
for consulta in consultas_logicas + consultas_aritmeticas + consultas_renomeacao:
    executar_consulta(consulta)

# Consultas 9.4 - Operadores LIKE e funções de data

# a) Consultas com LIKE e ILIKE
consultas_like = [
    "SELECT * FROM CATALOGO WHERE descricao LIKE 'Pneu%';",
    "SELECT * FROM CATALOGO WHERE descricao ILIKE 'serviço%';",
    "SELECT * FROM ORCAMENTO WHERE fornecedor LIKE 'Fornecedor%';",
    "SELECT * FROM PEDIDO WHERE TO_CHAR(data_pedido, 'YYYY-MM') LIKE '2023-01%';",
    "SELECT * FROM ORDEM_SERVICO WHERE TO_CHAR(data_conclusao, 'YYYY-MM') LIKE '2023-08%';"
]

# b) Consultas com funções de data
consultas_data = [
    "SELECT *, CURRENT_DATE AS data_atual FROM ORDEM_SERVICO;",
    "SELECT *, EXTRACT(YEAR FROM data_pedido) AS ano_pedido FROM PEDIDO;",
    "SELECT *, DATE_PART('year', data_inicio) AS ano_inicio FROM ORDEM_SERVICO;"
]

print("9.4 Consultas com operadores LIKE e funções de data:")
for consulta in consultas_like + consultas_data:
    executar_consulta(consulta)

# Consultas 9.5 - Atualização e Exclusão de Dados

# a) Consultas de exclusão
consultas_exclusao = [
    "DELETE FROM ORDEM_SERVICO WHERE id_os = 15;",
    "DELETE FROM PEDIDO WHERE id_pedido = 15;",
    "DELETE FROM CATALOGO WHERE id_item = 15;"
]

# b) Consultas de atualização
consultas_atualizacao = [
    "UPDATE PEDIDO SET data_recebimento = '2023-07-01' WHERE id_pedido = 1;",
    "UPDATE CATALOGO SET tipo = 'Peça' WHERE tipo IS NULL;",
    "UPDATE ORCAMENTO SET fornecedor = 'Fornecedor X' WHERE id_orcamento = 1;"
]

print("9.5 Consultas com instruções de atualização e exclusão de dados:")
for consulta in consultas_exclusao + consultas_atualizacao:
    executar_consulta(consulta)


# Consultas 9.6 - INNER JOIN e ORDER BY

# a) Junção envolvendo todas as tabelas
consulta_inner_join_todas = """
    SELECT o.id_os, p.id_pedido, c.descricao, i.valor
    FROM ORDEM_SERVICO o
    INNER JOIN PEDIDO p ON o.id_os = p.FK_ORDEM_SERVICO_id_os
    INNER JOIN ITENS_PEDIDO i ON p.id_pedido = i.FK_PEDIDO_id_pedido
    INNER JOIN CATALOGO c ON i.FK_ITENS_id_item = c.id_item
    ORDER BY o.id_os, p.id_pedido;
"""

# b) Outras junções importantes
consultas_inner_join = [
    """
    SELECT p.id_pedido, o.data_inicio, i.valor
    FROM PEDIDO p
    INNER JOIN ORDEM_SERVICO o ON p.FK_ORDEM_SERVICO_id_os = o.id_os
    INNER JOIN ITENS_PEDIDO i ON p.id_pedido = i.FK_PEDIDO_id_pedido
    ORDER BY p.id_pedido DESC;
    """,
    """
    SELECT c.descricao, o.id_os, COUNT(p.id_pedido) AS total_pedidos
    FROM CATALOGO c
    INNER JOIN ITENS_PEDIDO i ON c.id_item = i.FK_ITENS_id_item
    INNER JOIN PEDIDO p ON i.FK_PEDIDO_id_pedido = p.id_pedido
    INNER JOIN ORDEM_SERVICO o ON p.FK_ORDEM_SERVICO_id_os = o.id_os
    GROUP BY c.descricao, o.id_os
    ORDER BY total_pedidos DESC;
    """
]

print("9.6 Consultas com INNER JOIN e ORDER BY:")
executar_consulta(consulta_inner_join_todas)
for consulta in consultas_inner_join:
    executar_consulta(consulta)

# Consultas 9.7 - GROUP BY e funções de agrupamento

# a) Consultas com junção
consultas_group_by = [
    """
    SELECT o.id_os, COUNT(p.id_pedido) AS total_pedidos
    FROM ORDEM_SERVICO o
    LEFT JOIN PEDIDO p ON o.id_os = p.FK_ORDEM_SERVICO_id_os
    GROUP BY o.id_os;
    """,
    """
    SELECT c.descricao, SUM(i.quantidade) AS total_quantidade
    FROM CATALOGO c
    INNER JOIN ITENS_PEDIDO i ON c.id_item = i.FK_ITENS_id_item
    GROUP BY c.descricao
    ORDER BY total_quantidade DESC;
    """
]

print("9.7 Consultas com GROUP BY e funções de agrupamento:")
for consulta in consultas_group_by:
    executar_consulta(consulta)

# Consultas 9.8 - LEFT, RIGHT e FULL JOIN

# a) LEFT JOIN
consulta_left_join = """
    SELECT p.id_pedido, o.id_os
    FROM PEDIDO p
    LEFT JOIN ORDEM_SERVICO o ON p.FK_ORDEM_SERVICO_id_os = o.id_os;
"""

# b) RIGHT JOIN
consulta_right_join = """
    SELECT p.id_pedido, o.id_os
    FROM PEDIDO p
    RIGHT JOIN ORDEM_SERVICO o ON p.FK_ORDEM_SERVICO_id_os = o.id_os;
"""

# c) FULL JOIN
consulta_full_join = """
    SELECT p.id_pedido, o.id_os
    FROM PEDIDO p
    FULL JOIN ORDEM_SERVICO o ON p.FK_ORDEM_SERVICO_id_os = o.id_os;
"""

print("9.8 Consultas com LEFT, RIGHT e FULL JOIN:")
executar_consulta(consulta_left_join)
executar_consulta(consulta_right_join)
executar_consulta(consulta_full_join)

# Consultas 9.9 - SELF JOIN e VIEW

# a) SELF JOIN
consulta_self_join = """
    SELECT a.id_pedido AS pedido_id_1, b.id_pedido AS pedido_id_2
    FROM PEDIDO a
    INNER JOIN PEDIDO b ON a.FK_ORDEM_SERVICO_id_os = b.FK_ORDEM_SERVICO_id_os;
"""

# b) VIEW
consulta_create_view = """
    CREATE VIEW vw_pedido_info AS
    SELECT p.id_pedido, o.data_inicio, o.data_conclusao, c.descricao
    FROM PEDIDO p
    INNER JOIN ORDEM_SERVICO o ON p.FK_ORDEM_SERVICO_id_os = o.id_os
    INNER JOIN ITENS_PEDIDO i ON p.id_pedido = i.FK_PEDIDO_id_pedido
    INNER JOIN CATALOGO c ON i.FK_ITENS_id_item = c.id_item;
"""

consulta_use_view = "SELECT * FROM vw_pedido_info;"

print("9.9 Consultas com SELF JOIN e VIEW:")
executar_consulta(consulta_self_join)

executar_consulta(consulta_use_view)

# Consultas 9.10 - Subconsultas

# a) Subconsulta com GROUP BY
subconsulta_group_by = """
    SELECT id_os, (SELECT COUNT(*) FROM PEDIDO WHERE FK_ORDEM_SERVICO_id_os = o.id_os) AS total_pedidos
    FROM ORDEM_SERVICO o
    GROUP BY id_os;
"""

# b) Subconsulta com junção
subconsulta_juncao = """
    SELECT p.id_pedido, (SELECT c.descricao FROM CATALOGO c WHERE c.id_item = i.FK_ITENS_id_item) AS item_descricao
    FROM PEDIDO p
    INNER JOIN ITENS_PEDIDO i ON p.id_pedido = i.FK_PEDIDO_id_pedido;
"""

print("9.10 Subconsultas:")
executar_consulta(subconsulta_group_by)
executar_consulta(subconsulta_juncao)

# Fechar conexão
cur.close()
conn.close()

9.1 Consultas das tabelas com todos os dados inseridos:
Consulta: SELECT * FROM ORDEM_SERVICO;

    id_os  id_equipamento data_inicio data_conclusao
0       1            1001  2023-01-01     2023-01-10
1       2            1002  2023-02-01     2023-02-15
2       3            1003  2023-03-01     2023-03-10
3       4            1004  2023-04-01     2023-04-15
4       5            1005  2023-05-01     2023-05-15
5       6            1006  2023-06-01     2023-06-15
6       7            1007  2023-07-01     2023-07-15
7       8            1008  2023-08-01     2023-08-15
8       9            1009  2023-09-01     2023-09-15
9      10            1010  2023-10-01     2023-10-15
10     11            1011  2023-11-01     2023-11-15
11     12            1012  2023-12-01     2023-12-15
12     13            1013  2024-01-01     2024-01-15
13     14            1014  2024-02-01     2024-02-15
14     15            1015  2024-03-01     2024-03-15
15     16            1016  2024-04-01     2024-04-15
16     17            1017  2024-05-01     2024-05-15
17     18            1018  2024-06-01     2024-06-15
18     19            1019  2024-07-01     2024-07-15
19     20            1020  2024-08-01     2024-08-15
20     21            1021  2024-09-01     2024-09-15
21     22            1022  2024-10-01     2024-10-15
22     23            1023  2024-11-01     2024-11-15
23     24            1024  2024-12-01     2024-12-15
24     25            1025  2025-01-01     2025-01-15
25     26            1026  2025-02-01     2025-02-15
26     27            1027  2025-03-01     2025-03-15
27     28            1028  2025-04-01     2025-04-15
28     29            1029  2025-05-01     2025-05-15
29     30            1030  2025-06-01     2025-06-15
30     31            1016  2024-04-01           None
31     32            1017  2024-04-05           None
32     33            1018  2024-04-10           None
33     34            1019  2024-04-15           None
34     35            1020  2024-04-20           None
35     36            1021  2024-04-25           None
36     37            1022  2024-05-01           None
37     38            1023  2024-05-05           None
38     39            1024  2024-05-10           None
39     40            1025  2024-05-15           None
40     41            1026  2024-05-20           None
41     42            1027  2024-05-25           None
42     43            1028  2024-06-01           None
43     44            1029  2024-06-05           None
44     45            1030  2024-06-10           None
45     46            1031  2024-06-15           None
46     47            1032  2024-06-20           None

========================================

Consulta: SELECT * FROM PEDIDO;

    id_pedido data_pedido data_recebimento  fk_ordem_servico_id_os
0           1  2023-01-02       2023-01-12                       1
1           2  2023-02-02       2023-02-17                       2
2           3  2023-03-02       2023-03-12                       3
3           4  2023-04-02       2023-04-12                       4
4           5  2023-05-02       2023-05-12                       5
5           6  2023-06-02       2023-06-12                       6
6           7  2023-07-02       2023-07-12                       7
7           8  2023-08-02       2023-08-12                       8
8           9  2023-09-02       2023-09-12                       9
9          10  2023-10-02       2023-10-12                      10
10         11  2023-11-02       2023-11-12                      11
11         12  2023-12-02       2023-12-12                      12
12         13  2024-01-02       2024-01-12                      13
13         14  2024-02-02       2024-02-12                      14
14         15  2024-03-02       2024-03-12                      15
15         16  2024-04-02       2024-04-12                      16
16         17  2024-05-02       2024-05-12                      17
17         18  2024-06-02       2024-06-12                      18
18         19  2024-07-02       2024-07-12                      19
19         20  2024-08-02       2024-08-12                      20
20         21  2024-09-02       2024-09-12                      21
21         22  2024-10-02       2024-10-12                      22
22         23  2024-11-02       2024-11-12                      23
23         24  2024-12-02       2024-12-12                      24
24         25  2025-01-02       2025-01-12                      25
25         26  2025-02-02       2025-02-12                      26
26         27  2025-03-02       2025-03-12                      27
27         28  2025-04-02       2025-04-12                      28
28         29  2025-05-02       2025-05-12                      29
29         30  2025-06-02       2025-06-12                      30
30         31  2024-04-02             None                      31
31         32  2024-04-06             None                      32
32         33  2024-04-11             None                      33
33         34  2024-04-16             None                      34
34         35  2024-04-21             None                      35
35         36  2024-04-26             None                      36
36         37  2024-05-02             None                      37
37         38  2024-05-06             None                      38
38         39  2024-05-11             None                      39
39         40  2024-05-16             None                      40
40         41  2024-05-21             None                      41
41         42  2024-05-26             None                      42
42         43  2024-06-02             None                      43
43         44  2024-06-06             None                      44
44         45  2024-06-11             None                      45
45         46  2024-06-16             None                      46
46         47  2024-06-21             None                      47

========================================

Consulta: SELECT * FROM CATALOGO;

    id_item                     descricao     tipo
0         1                          Pneu     Peça
1         2                Filtro de Óleo     Peça
2         3                  Filtro de Ar     Peça
3         4                Janela Frontal     Peça
4         5                     Parabrisa     Peça
5         6                   Amortecedor     Peça
6         7             Pastilha de Freio     Peça
7         8              Lâmpada de Farol     Peça
8         9                       Bateria     Peça
9        10                 Óleo de Motor  Produto
10       11      Serviço de Troca de Pneu  Serviço
11       12        Serviço de Alinhamento  Serviço
12       13      Serviço de Balanceamento  Serviço
13       14      Serviço de Troca de Óleo  Serviço
14       15     Serviço de Inspeção Geral  Serviço
15       16           Calibragem de Pneus  Serviço
16       17              Troca de Correia  Serviço
17       18         Substituição de Velas  Serviço
18       19              Troca de Bateria  Serviço
19       20           Polimento de Faróis  Serviço
20       21    Limpeza de Bicos Injetores  Serviço
21       22   Troca de Pastilhas de Freio  Serviço
22       23          Revisão de Suspensão  Serviço
23       24   Alinhamento e Balanceamento  Serviço
24       25  Troca de Óleo de Transmissão  Serviço
25       26       Serviço de Higienização  Serviço
26       27     Troca de Filtro de Cabine  Serviço
27       28             Inspeção Completa  Serviço
28       29        Troca de Amortecedores  Serviço
29       30              Revisão Elétrica  Serviço

========================================

Consulta: SELECT * FROM ORCAMENTO;

    id_orcamento     fornecedor previsao_entrega
0              1   Fornecedor A       2023-01-15
1              2   Fornecedor B       2023-02-15
2              3   Fornecedor C       2023-03-15
3              4   Fornecedor D       2023-04-15
4              5   Fornecedor E       2023-05-15
5              6   Fornecedor F       2023-06-15
6              7   Fornecedor G       2023-07-15
7              8   Fornecedor H       2023-08-15
8              9   Fornecedor I       2023-09-15
9             10   Fornecedor J       2023-10-15
10            11   Fornecedor K       2023-11-15
11            12   Fornecedor L       2023-12-15
12            13   Fornecedor M       2024-01-15
13            14   Fornecedor N       2024-02-15
14            15   Fornecedor O       2024-03-15
15            16   Fornecedor P       2024-04-15
16            17   Fornecedor Q       2024-05-15
17            18   Fornecedor R       2024-06-15
18            19   Fornecedor S       2024-07-15
19            20   Fornecedor T       2024-08-15
20            21   Fornecedor U       2024-09-15
21            22   Fornecedor V       2024-10-15
22            23   Fornecedor W       2024-11-15
23            24   Fornecedor X       2024-12-15
24            25   Fornecedor Y       2025-01-15
25            26   Fornecedor Z       2025-02-15
26            27  Fornecedor AA       2025-03-15
27            28  Fornecedor BB       2025-04-15
28            29  Fornecedor CC       2025-05-15
29            30  Fornecedor DD       2025-06-15
30            31   Fornecedor A       2024-07-01
31            32   Fornecedor B       2024-07-05
32            33   Fornecedor C       2024-07-10
33            34   Fornecedor A       2024-07-15
34            35   Fornecedor D       2024-07-20
35            36   Fornecedor B       2024-07-25
36            37   Fornecedor A       2024-08-01
37            38   Fornecedor C       2024-08-05
38            39   Fornecedor D       2024-08-10
39            40   Fornecedor A       2024-08-15
40            41   Fornecedor B       2024-08-20
41            42   Fornecedor C       2024-08-25
42            43   Fornecedor D       2024-09-01
43            44   Fornecedor A       2024-09-05
44            45   Fornecedor B       2024-09-10
45            46   Fornecedor C       2024-09-15
46            47   Fornecedor D       2024-09-20

========================================

Consulta: SELECT * FROM ORDEM_COMPRA;

    id_oc  fk_orcamento_id_orcamento
0       1                          1
1       2                          2
2       3                          3
3       4                          4
4       5                          5
5       6                          6
6       7                          7
7       8                          8
8       9                          9
9      10                         10
10     11                         11
11     12                         12
12     13                         13
13     14                         14
14     15                         15
15     16                         16
16     17                         17
17     18                         18
18     19                         19
19     20                         20
20     21                         21
21     22                         22
22     23                         23
23     24                         24
24     25                         25
25     26                         26
26     27                         27
27     28                         28
28     29                         29
29     30                         30

========================================

Consulta: SELECT * FROM ITENS_PEDIDO;

    quantidade   valor  garantia  fk_pedido_id_pedido  fk_itens_id_item  \
0           10   500.0        12                    1                 1
1            5   300.0         6                    2                 2
2            7   700.0        24                    3                 3
3            3   150.0        18                    4                 4
4            8   800.0        24                    5                 5
5            6   600.0        12                    6                 6
6            4   400.0        18                    7                 7
7            9   900.0        24                    8                 8
8            2   200.0        12                    9                 9
9            1   100.0         6                   10                10
10           5   500.0        18                   11                11
11           3   300.0        12                   12                12
12           7   700.0        24                   13                13
13           6   600.0        12                   14                14
14           8   800.0        24                   15                15
15          10  1000.0        36                   16                16
16           5   250.0        24                   17                17
17           7   350.0        18                   18                18
18           8   400.0        12                   19                19
19           3   150.0        24                   20                20
20           6   300.0        18                   21                21
21           9   450.0        12                   22                22
22           4   200.0        24                   23                23
23           5   250.0        18                   24                24
24           7   350.0        12                   25                25
25           6   300.0        24                   26                26
26           8   400.0        18                   27                27
27           9   450.0        12                   28                28
28          10   500.0        24                   29                29
29           5   250.0        18                   30                30

    fk_orcamento_id_orcamento
0                           1
1                           2
2                           3
3                           4
4                           5
5                           6
6                           7
7                           8
8                           9
9                          10
10                         11
11                         12
12                         13
13                         14
14                         15
15                         16
16                         17
17                         18
18                         19
19                         20
20                         21
21                         22
22                         23
23                         24
24                         25
25                         26
26                         27
27                         28
28                         29
29                         30

========================================

9.2 Consultas das tabelas com filtros WHERE:
Consulta: SELECT * FROM ORDEM_SERVICO WHERE id_equipamento > 1003;

    id_os  id_equipamento data_inicio data_conclusao
0       4            1004  2023-04-01     2023-04-15
1       5            1005  2023-05-01     2023-05-15
2       6            1006  2023-06-01     2023-06-15
3       7            1007  2023-07-01     2023-07-15
4       8            1008  2023-08-01     2023-08-15
5       9            1009  2023-09-01     2023-09-15
6      10            1010  2023-10-01     2023-10-15
7      11            1011  2023-11-01     2023-11-15
8      12            1012  2023-12-01     2023-12-15
9      13            1013  2024-01-01     2024-01-15
10     14            1014  2024-02-01     2024-02-15
11     15            1015  2024-03-01     2024-03-15
12     16            1016  2024-04-01     2024-04-15
13     17            1017  2024-05-01     2024-05-15
14     18            1018  2024-06-01     2024-06-15
15     19            1019  2024-07-01     2024-07-15
16     20            1020  2024-08-01     2024-08-15
17     21            1021  2024-09-01     2024-09-15
18     22            1022  2024-10-01     2024-10-15
19     23            1023  2024-11-01     2024-11-15
20     24            1024  2024-12-01     2024-12-15
21     25            1025  2025-01-01     2025-01-15
22     26            1026  2025-02-01     2025-02-15
23     27            1027  2025-03-01     2025-03-15
24     28            1028  2025-04-01     2025-04-15
25     29            1029  2025-05-01     2025-05-15
26     30            1030  2025-06-01     2025-06-15
27     31            1016  2024-04-01           None
28     32            1017  2024-04-05           None
29     33            1018  2024-04-10           None
30     34            1019  2024-04-15           None
31     35            1020  2024-04-20           None
32     36            1021  2024-04-25           None
33     37            1022  2024-05-01           None
34     38            1023  2024-05-05           None
35     39            1024  2024-05-10           None
36     40            1025  2024-05-15           None
37     41            1026  2024-05-20           None
38     42            1027  2024-05-25           None
39     43            1028  2024-06-01           None
40     44            1029  2024-06-05           None
41     45            1030  2024-06-10           None
42     46            1031  2024-06-15           None
43     47            1032  2024-06-20           None

========================================

Consulta: SELECT * FROM PEDIDO WHERE data_pedido BETWEEN '2023-01-01' AND '2023-06-30';

   id_pedido data_pedido data_recebimento  fk_ordem_servico_id_os
0          1  2023-01-02       2023-01-12                       1
1          2  2023-02-02       2023-02-17                       2
2          3  2023-03-02       2023-03-12                       3
3          4  2023-04-02       2023-04-12                       4
4          5  2023-05-02       2023-05-12                       5
5          6  2023-06-02       2023-06-12                       6

========================================

Consulta: SELECT * FROM CATALOGO WHERE tipo = 'Serviço';

    id_item                     descricao     tipo
0        11      Serviço de Troca de Pneu  Serviço
1        12        Serviço de Alinhamento  Serviço
2        13      Serviço de Balanceamento  Serviço
3        14      Serviço de Troca de Óleo  Serviço
4        15     Serviço de Inspeção Geral  Serviço
5        16           Calibragem de Pneus  Serviço
6        17              Troca de Correia  Serviço
7        18         Substituição de Velas  Serviço
8        19              Troca de Bateria  Serviço
9        20           Polimento de Faróis  Serviço
10       21    Limpeza de Bicos Injetores  Serviço
11       22   Troca de Pastilhas de Freio  Serviço
12       23          Revisão de Suspensão  Serviço
13       24   Alinhamento e Balanceamento  Serviço
14       25  Troca de Óleo de Transmissão  Serviço
15       26       Serviço de Higienização  Serviço
16       27     Troca de Filtro de Cabine  Serviço
17       28             Inspeção Completa  Serviço
18       29        Troca de Amortecedores  Serviço
19       30              Revisão Elétrica  Serviço

========================================

Consulta: SELECT * FROM ORCAMENTO WHERE fornecedor LIKE 'Fornecedor A';

   id_orcamento    fornecedor previsao_entrega
0             1  Fornecedor A       2023-01-15
1            31  Fornecedor A       2024-07-01
2            34  Fornecedor A       2024-07-15
3            37  Fornecedor A       2024-08-01
4            40  Fornecedor A       2024-08-15
5            44  Fornecedor A       2024-09-05

========================================

9.3 Consultas com operadores lógicos, aritméticos e renomeação de campos:
Consulta: SELECT * FROM ORDEM_SERVICO WHERE data_inicio < '2024-01-01' AND data_conclusao > '2023-12-01';

   id_os  id_equipamento data_inicio data_conclusao
0     12            1012  2023-12-01     2023-12-15

========================================

Consulta: SELECT * FROM PEDIDO WHERE data_recebimento >= '2023-01-01' OR data_recebimento <= '2023-06-30';

    id_pedido data_pedido data_recebimento  fk_ordem_servico_id_os
0           1  2023-01-02       2023-01-12                       1
1           2  2023-02-02       2023-02-17                       2
2           3  2023-03-02       2023-03-12                       3